<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="yoGomee.Emulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <yoGomee.Emulator.Properties.Settings>
            <setting name="yoGomee_Emulator_ws_Emulator" serializeAs="String">
                <value>http://72.167.29.167:88/emulator.asmx</value>
            </setting>
        </yoGomee.Emulator.Properties.Settings>
    </applicationSettings>
</configuration>