# htdigest file for authenticating webalizer users
#
# Usage: htdigest [-c] passwordfile realm username
# The -c flag creates a new file.
#
# ie
# /usr/bin/htdigest -c /home/username/.web/auth-webalizer webalizer username
#
# would create the entry
# username:webalizer:6b52ce4fa3ffcd51945cdec206877a68
#
